#I. **About the Dataset**
***

## **Brief Description**
This dataset provides essential information about recognized indicators of heart disease. Some of the key indicators in the dataset include obesity (indicated by a high BMI), not getting enough sleep, diabetic, etc.. Identifying the patterns of a higher-than-normal likelihood of getting a heart disease is necessary for people to take the necessary precautionary measures.

## **Description of the Data Collection Process**
- The dataset is obtained from the Centers for Disease Control and Prevention (CDC) to collect data on the health status of US residents through a cross-sectional major annual telephone survey conducted by the Behavioral Risk Factor Surveillance System (BRFSS). The survey is conducted using Random Digit Dialing (RDD), which involves contacting individuals through landline phones and mobile phones.  

- The BRFSS survey comprises three sections: the core modules, optional modules, and state-added modules. The core section is standardized across all states and includes questions mandated by the CDC. Optional modules are chosen by individual states. The states have the flexibility to create their own unique modules referred to as state-added questions. [Source](https://www.hhs.nd.gov/public-health/behavioral-health/north-dakota-behavioral-risk-factor-surveillance-system/brfss)

- BRFSS employs iterative proportional fitting or “raking” as a data weighting technique. Raking incorporates data from cellular telephone surveys and the inclusion of additional demographic variables such as educational level, marital status, and housing status. These additional characteristics significantly improve the accuracy and comprehensiveness of the BRFSS sample, ensuring it better reflects the diverse socio-demographic composition of individual states. [Source](https://www.cdc.gov/brfss/annual_data/2022/pdf/Overview_2022-508.pdf)

- The use of RDD to contact individuals through landlines and mobile phones may introduce sampling bias. Not everyone has access to phones, thus excluding certain demographic groups such as those without phone access or those who do not answer their phones. This affects the representativeness of the sample which may possibly lead to skewed conclusions. Additionally, the survey introduces response bias as respondents may not always answer the questions truthfully, which may lead to incorrect conclusions regarding health conditions.
- Since the survey conducted is a cross-sectional survey, the dataset may not capture the changes in health conditions over time. The conclusions and insights that will be generated are limited to the year it was conducted.

## **Structure Description**
- Each row represents an observation from a participant in the survey performed by the CDC, with each column representing an aspect of their health and lifestyle that was asked during the survey, such as their weight, their number of sleep hours, and if they have asthma.
- There are 445,132  observations in the dataset.
- There are 40 variables in the dataset.
- The dataset does not have separate, different files that need to be combined

## **Variable Discussion**
1. **State**: The state where the participant of the dataset lives.
2. **Sex**: The biological sex of the participant.
3. **GeneralHealth**: Self-reported overall health status of the participant.
4. **PhysicalHealthDays**: The number of days in the past month that the participant experienced physical health issues or discomfort.
5. **MentalHealthDays**: The number of days in the past month that the participant experienced mental health issues or emotional distress.
6. **LastCheckupTime**: The time since the participant's last medical checkup or examination.
7. **PhysicalActivities**: Whether or not the participant does physical activities.
8. **SleepHours**: The number of hours of sleep a participant gets on average per day.
9. **RemovedTeeth**: The count of the participant's teeth that have been removed or are missing.
10. **HadHeartAttack** (HadHeartDisease): As per the dataset expert's recommendation, this variable is about whether or not the participant has had a heart disease in the past, not necessarily just a heart attack.
11. **HadAngina**: Whether or not the participant has had an episode of Angina (chest pain or discomfort) in the past.
12. **HadStroke**: Whether or not the participant has had a stroke in the past.
13. **HadAsthma**: Whether or not the participant has been diagnosed with asthma.
14. **HadSkinCancer**: Whether or not the participant has had a diagnosis of skin cancer.
15. **HadCOPD**: Whether or not the participant has Chronic Obstructive Pulmonary Disease (COPD).
16. **HadDepressiveDisorder**: Whether or not the participant has been diagnosed with a depressive disorder.
17. **HadKidneyDisease**: Whether or not the participant has been diagnosed with kidney disease.
18. **HadArthritis**: Whether or not the participant has been diagnosed with arthritis.
19. **HadDiabetes**: Whether or not the participant has been diagnosed with diabetes.
20. **DeafOrHardOfHearing**: Whether or not the participant is deaf or hard of hearing.
21. **BlindOrVisionDifficulty**: Whether or not the participant is blind or has difficulty with vision.
22. **DifficultyConcentrating**: Whether or not the participant has difficulty concentrating or staying focused.
23. **DifficultyWalking**: Whether or not the participant has difficulty walking or mobility.
24. **DifficultyDressingBathing**: Whether or not the participant has difficulty dressing or bathing.
25. **DifficultyErrands**: Whether or not the participant has difficulty running daily errands or tasks.
26. **SmokerStatus**: The participant's current smoking status (never smoked, former smoker, current smoker).
27. **ECigaretteUsage**: The frequency and extent of e-cigarette usage.
28. **ChestScan**: Whether or not the participant has had a chest scan or imaging for a specific medical purpose.
29. **RaceEthnicityCategory**: The racial and ethnic background or category of the participant, and whether or not they are of Hispanic ethnicity.
30. **AgeCategory**: The age group to which the participant belongs.
31. **HeightInMeters**: The height of the participant in meters.
32. **WeightInKilograms**: The weight of the participant in kilograms.
33. **BMI**: The Body Mass Index (BMI) of the participant, calculated based on height and weight.
34. **AlcoholDrinkers**: Whether or not the participant consumes alcoholic beverages.
35. **HIVTesting**: Whether or not the participant has undergone HIV testing.
36. **FluVaxLast12**: Whether the participant received a flu vaccine within the last 12 months.
37. **PneumoVaxEver**: Whether the participant has ever received a pneumococcal vaccine.
38. **TetanusLast10Tdap**: Whether or not the participant has received a tetanus vaccine or Tdap (tetanus, diphtheria, and pertussis) combination vaccine.
39. **HighRiskLastYear**: Whether the participant was classified as "high risk" for certain health conditions within the last year.
40. **CovidPos**: Whether or not the participant has ever tested positive for COVID-19.

Of the 40 variables included in the dataset, the group has decided to focus on the following 8 variables to be utilized in the study:
1. GeneralHealth
2. AgeCategory
3. HadHeartAttack
4. BMI
5. AlcoholDrinkers
6. SmokerStatus
7. SleepHours
8. PhysicalActivities

# II. **Loading the Dataset and Importing Libraries**
***

### Import Libraries and extract csv file

In [43]:
import io
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [44]:
df = pd.read_csv('heart_2022_no_nans.csv')

### General Information

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 40 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      246022 non-null  object
 1   Sex                        246022 non-null  object
 2   GeneralHealth              246022 non-null  object
 3   PhysicalHealthDays         246022 non-null  float64
 4   MentalHealthDays           246022 non-null  float64
 5   LastCheckupTime            246022 non-null  object
 6   PhysicalActivities         246022 non-null  object
 7   SleepHours                 246022 non-null  int32
 8   RemovedTeeth               246022 non-null  object
 9   HadHeartDisease            246022 non-null  object
 10  HadAngina                  246022 non-null  object
 11  HadStroke                  246022 non-null  object
 12  HadAsthma                  246022 non-null  object
 13  HadSkinCancer              246022 non-null  object
 14  HadCOPD                    246022 non-null  object
 15  HadDepressiveDisorder      246022 non-null  object
 16  HadKidneyDisease           246022 non-null  object
 17  HadArthritis               246022 non-null  object
 18  HadDiabetes                246022 non-null  object
 19  DeafOrHardOfHearing        246022 non-null  object
 20  BlindOrVisionDifficulty    246022 non-null  object
 21  DifficultyConcentrating    246022 non-null  object
 22  DifficultyWalking          246022 non-null  object
 23  DifficultyDressingBathing  246022 non-null  object
 24  DifficultyErrands          246022 non-null  object
 25  SmokerStatus               246022 non-null  object
 26  ECigaretteUsage            246022 non-null  object
 27  ChestScan                  246022 non-null  object
 28  RaceEthnicityCategory      246022 non-null  object
 29  AgeCategory                246022 non-null  object
 30  HeightInMeters             246022 non-null  float64
 31  WeightInKilograms          246022 non-null  float64
 32  BMI                        246022 non-null  float64
 33  AlcoholDrinkers            246022 non-null  object
 34  HIVTesting                 246022 non-null  object
 35  FluVaxLast12               246022 non-null  object
 36  PneumoVaxEver              246022 non-null  object
 37  TetanusLast10Tdap          246022 non-null  object
 38  HighRiskLastYear           246022 non-null  object
 39  CovidPos                   246022 non-null  object
dtypes: float64(5), int32(1), object(34)
memory usage: 74.1+ MB

In [45]:
df

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246017,Virgin Islands,Male,Very good,0.0,0.0,Within past 2 years (1 year but less than 2 ye...,Yes,6.0,None of them,No,...,1.78,102.06,32.28,Yes,No,No,No,"Yes, received tetanus shot but not sure what type",No,No
246018,Virgin Islands,Female,Fair,0.0,7.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.93,90.72,24.34,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes
246019,Virgin Islands,Male,Good,0.0,15.0,Within past year (anytime less than 12 months ...,Yes,7.0,1 to 5,No,...,1.68,83.91,29.86,Yes,Yes,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,Yes
246020,Virgin Islands,Female,Excellent,2.0,2.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.70,83.01,28.66,No,Yes,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
246021,Virgin Islands,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,5.0,None of them,Yes,...,1.83,108.86,32.55,No,Yes,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes

### Check the content of the dataset

In [46]:
def describe_df(df):
  for col in df.columns:
    col_dtype = df[col].dtype

    print("--------------------------------------------------------------", end="")
    print(f"\nColumn: {col} ({col_dtype})")
    # print(f"\nColumn Info: {df[col].info()}")
    print(f"\nColumn Value Counts: \n{df[col].value_counts()}")
    print("--------------------------------------------------------------\n\n")

In [47]:
describe_df(df)

--------------------------------------------------------------
Column: State (object)

Column Value Counts:
State
Washington              15000
Maryland                 9165
Minnesota                9161
Ohio                     8995
New York                 8923
Texas                    7408
Florida                  7315
Kansas                   6145
Wisconsin                6126
Maine                    6013
Iowa                     5672
Hawaii                   5596
Virginia                 5565
Indiana                  5502
South Carolina           5471
Massachusetts            5465
Arizona                  5462
Utah                     5373
Michigan                 5370
Colorado                 5159
Nebraska                 5107
California               5096
Connecticut              5053
Georgia                  4978
Vermont                  4845
South Dakota             4405
Montana                  4264
Missouri                 4195
New Jersey               3967
New Hampshire            3756
Puerto Rico              3589
Idaho                    3468
Alaska                   3205
Rhode Island             3112
Oregon                   3049
Louisiana                3010
West Virginia            2974
New Mexico               2968
Oklahoma                 2941
Arkansas                 2940
Pennsylvania             2729
Tennessee                2725
Illinois                 2607
North Carolina           2551
North Dakota             2498
Mississippi              2438
Kentucky                 2413
Wyoming                  2410
Delaware                 2155
Alabama                  1902
Nevada                   1769
District of Columbia     1725
Guam                     1549
Virgin Islands            743
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: Sex (object)

Column Value Counts:
Sex
Female    127811
Male      118211
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: GeneralHealth (object)

Column Value Counts:
GeneralHealth
Very good    86999
Good         77409
Excellent    41525
Fair         30659
Poor          9430
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: PhysicalHealthDays (float64)

Column Value Counts:
PhysicalHealthDays
0.0     152802
30.0     17160
2.0      14728
1.0      10058
3.0       9137
5.0       8939
10.0      6068
7.0       5221
4.0       4906
15.0      4845
20.0      2950
14.0      2813
6.0       1421
25.0      1123
8.0        961
12.0       610
21.0       584
28.0       365
9.0        211
29.0       178
18.0       151
16.0       126
27.0       103
17.0       101
11.0        95
13.0        87
22.0        72
26.0        64
24.0        60
23.0        54
19.0        29
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: MentalHealthDays (float64)

Column Value Counts:
MentalHealthDays
0.0     150454
2.0      13810
30.0     13702
5.0      11623
3.0       8849
10.0      8831
1.0       8244
15.0      8061
20.0      4925
4.0       4568
7.0       4485
25.0      1647
14.0      1573
6.0       1326
8.0        973
12.0       715
28.0       484
21.0       301
29.0       261
18.0       166
16.0       165
9.0        145
17.0       132
27.0       113
22.0       101
13.0        96
11.0        69
24.0        68
26.0        59
23.0        51
19.0        25
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: LastCheckupTime (object)

Column Value Counts:
LastCheckupTime
Within past year (anytime less than 12 months ago)         198153
Within past 2 years (1 year but less than 2 years ago)      23227
Within past 5 years (2 years but less than 5 years ago)     13744
5 or more years ago                                         10898
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: PhysicalActivities (object)

Column Value Counts:
PhysicalActivities
Yes    191318
No      54704
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: SleepHours (float64)

Column Value Counts:
SleepHours
7.0     76447
8.0     69927
6.0     53981
5.0     16417
9.0     11859
4.0      6478
10.0     5468
3.0      1618
12.0     1476
2.0       740
1.0       563
11.0      339
16.0      155
15.0      154
14.0      148
18.0       83
13.0       79
20.0       50
24.0       13
17.0       11
23.0        6
19.0        5
22.0        5
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: RemovedTeeth (object)

Column Value Counts:
RemovedTeeth
None of them              131592
1 to 5                     74702
6 or more, but not all     25950
All                        13778
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadHeartAttack (object)

Column Value Counts:
HadHeartAttack
No     232587
Yes     13435
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadAngina (object)

Column Value Counts:
HadAngina
No     231069
Yes     14953
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadStroke (object)

Column Value Counts:
HadStroke
No     235910
Yes     10112
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadAsthma (object)

Column Value Counts:
HadAsthma
No     209493
Yes     36529
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadSkinCancer (object)

Column Value Counts:
HadSkinCancer
No     225001
Yes     21021
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadCOPD (object)

Column Value Counts:
HadCOPD
No     227028
Yes     18994
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadDepressiveDisorder (object)

Column Value Counts:
HadDepressiveDisorder
No     195402
Yes     50620
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadKidneyDisease (object)

Column Value Counts:
HadKidneyDisease
No     234738
Yes     11284
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadArthritis (object)

Column Value Counts:
HadArthritis
No     161139
Yes     84883
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadDiabetes (object)

Column Value Counts:
HadDiabetes
No                                         204834
Yes                                         33813
No, pre-diabetes or borderline diabetes      5392
Yes, but only during pregnancy (female)      1983
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: DeafOrHardOfHearing (object)

Column Value Counts:
DeafOrHardOfHearing
No     224990
Yes     21032
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: BlindOrVisionDifficulty (object)

Column Value Counts:
BlindOrVisionDifficulty
No     233796
Yes     12226
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: DifficultyConcentrating (object)

Column Value Counts:
DifficultyConcentrating
No     219802
Yes     26220
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: DifficultyWalking (object)

Column Value Counts:
DifficultyWalking
No     209952
Yes     36070
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: DifficultyDressingBathing (object)

Column Value Counts:
DifficultyDressingBathing
No     237682
Yes      8340
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: DifficultyErrands (object)

Column Value Counts:
DifficultyErrands
No     229638
Yes     16384
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: SmokerStatus (object)

Column Value Counts:
SmokerStatus
Never smoked                             147737
Former smoker                             68527
Current smoker - now smokes every day     21659
Current smoker - now smokes some days      8099
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: ECigaretteUsage (object)

Column Value Counts:
ECigaretteUsage
Never used e-cigarettes in my entire life    190128
Not at all (right now)                        43281
Use them some days                             6658
Use them every day                             5955
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: ChestScan (object)

Column Value Counts:
ChestScan
No     141822
Yes    104200
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: RaceEthnicityCategory (object)

Column Value Counts:
RaceEthnicityCategory
White only, Non-Hispanic         186336
Hispanic                          22570
Black only, Non-Hispanic          19330
Other race only, Non-Hispanic     12205
Multiracial, Non-Hispanic          5581
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: AgeCategory (object)

Column Value Counts:
AgeCategory
Age 65 to 69       28557
Age 60 to 64       26720
Age 70 to 74       25739
Age 55 to 59       22224
Age 50 to 54       19913
Age 75 to 79       18136
Age 80 or older    17816
Age 40 to 44       16973
Age 45 to 49       16753
Age 35 to 39       15614
Age 30 to 34       13346
Age 18 to 24       13122
Age 25 to 29       11109
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HeightInMeters (float64)

Column Value Counts:
HeightInMeters
1.68    21694
1.63    20835
1.70    20054
1.78    19540
1.65    18825
        ...
1.92        1
2.36        1
1.44        1
1.38        1
2.21        1
Name: count, Length: 101, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: WeightInKilograms (float64)

Column Value Counts:
WeightInKilograms
90.72     13066
81.65     12018
68.04     10365
72.57     10350
77.11      9725
          ...
238.14        1
200.49        1
166.47        1
205.02        1
30.39         1
Name: count, Length: 516, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: BMI (float64)

Column Value Counts:
BMI
26.63    2727
27.46    2040
27.44    1964
24.41    1922
27.12    1893
         ...
41.65       1
33.24       1
25.57       1
13.64       1
45.28       1
Name: count, Length: 3514, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: AlcoholDrinkers (object)

Column Value Counts:
AlcoholDrinkers
Yes    135307
No     110715
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HIVTesting (object)

Column Value Counts:
HIVTesting
No     161520
Yes     84502
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: FluVaxLast12 (object)

Column Value Counts:
FluVaxLast12
Yes    131196
No     114826
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: PneumoVaxEver (object)

Column Value Counts:
PneumoVaxEver
No     146130
Yes     99892
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: TetanusLast10Tdap (object)

Column Value Counts:
TetanusLast10Tdap
No, did not receive any tetanus shot in the past 10 years    81747
Yes, received tetanus shot but not sure what type            74119
Yes, received Tdap                                           70286
Yes, received tetanus shot, but not Tdap                     19870
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HighRiskLastYear (object)

Column Value Counts:
HighRiskLastYear
No     235446
Yes     10576
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: CovidPos (object)

Column Value Counts:
CovidPos
No                                                               167306
Yes                                                               70324
Tested positive using home test without a health professional      8392
Name: count, dtype: int64
--------------------------------------------------------------

# III. **Data Cleaning**
***
The group's chosen dataset did not require any extensive data cleaning.

The dataset did not have multiple representations of the same categorical value (e.g. "No" being represented as "N", "no", "n", etc.). The formatting of the values were also very consistent.

In [29]:
for column in ['GeneralHealth', 'AgeCategory', 'HadHeartAttack', 'AlcoholDrinkers', 'SmokerStatus', 'PhysicalActivities']:
    print(f"Unique values for {column}: {df[column].unique()}")

Unique values for GeneralHealth: ['Very good' 'Fair' 'Good' 'Excellent' 'Poor']
Unique values for AgeCategory: ['Age 65 to 69' 'Age 70 to 74' 'Age 75 to 79' 'Age 80 or older'
 'Age 50 to 54' 'Age 40 to 44' 'Age 60 to 64' 'Age 55 to 59'
 'Age 45 to 49' 'Age 35 to 39' 'Age 25 to 29' 'Age 30 to 34'
 'Age 18 to 24']
Unique values for HadHeartAttack: ['No' 'Yes']
Unique values for AlcoholDrinkers: ['No' 'Yes']
Unique values for SmokerStatus: ['Former smoker' 'Never smoked' 'Current smoker - now smokes every day'
 'Current smoker - now smokes some days']
Unique values for PhysicalActivities: ['Yes' 'No']

Some of the variables, particularly those of numerical nature, had the wrong data type. These are:

1. AgeCategory
2. SleepHours

They were then changed to better fit their real-life representation (i.e. numerical data --> integer/float).

In [30]:
df[['GeneralHealth', 'AgeCategory', 'HadHeartAttack', 'BMI', 'AlcoholDrinkers', 'SmokerStatus', 'SleepHours', 'PhysicalActivities']].dtypes

GeneralHealth          object
AgeCategory            object
HadHeartAttack         object
BMI                   float64
AlcoholDrinkers        object
SmokerStatus           object
SleepHours            float64
PhysicalActivities     object
dtype: object

In [31]:
# Changing of datatypes
df['SleepHours'] = df['SleepHours'].astype(int)

There were no default values (a.k.a NaNs) in the dataset nor was there any missing data that required the use of "NaN".

In [32]:
df[['GeneralHealth', 'AgeCategory', 'HadHeartAttack', 'BMI', 'AlcoholDrinkers', 'SmokerStatus', 'SleepHours', 'PhysicalActivities']].isna().sum()

GeneralHealth         0
AgeCategory           0
HadHeartAttack        0
BMI                   0
AlcoholDrinkers       0
SmokerStatus          0
SleepHours            0
PhysicalActivities    0
dtype: int64

There were duplicate data, but given that this is a large-scale survey the group decided to keep the duplicate observations as the similarities could be mere coincidences.

In [33]:
df[df.duplicated(subset=['GeneralHealth', 'AgeCategory', 'HadHeartAttack', 'BMI', 'AlcoholDrinkers', 'SmokerStatus', 'SleepHours', 'PhysicalActivities'])]

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
836,Alabama,Female,Very good,0.0,10.0,Within past year (anytime less than 12 months ...,Yes,8,None of them,No,...,1.63,68.04,25.75,Yes,Yes,Yes,No,"Yes, received Tdap",No,No
867,Alabama,Female,Fair,20.0,0.0,Within past year (anytime less than 12 months ...,Yes,6,None of them,No,...,1.75,58.97,19.20,No,No,Yes,Yes,"Yes, received Tdap",No,No
1243,Alabama,Female,Good,7.0,10.0,Within past year (anytime less than 12 months ...,Yes,7,None of them,No,...,1.65,90.72,33.28,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
1447,Alabama,Male,Good,1.0,2.0,Within past year (anytime less than 12 months ...,Yes,6,None of them,No,...,1.75,95.25,31.01,Yes,No,No,No,"Yes, received Tdap",No,No
1996,Alaska,Male,Very good,6.0,0.0,Within past year (anytime less than 12 months ...,Yes,8,None of them,No,...,1.57,64.86,26.15,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246007,Virgin Islands,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7,1 to 5,No,...,1.65,68.04,24.96,Yes,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
246010,Virgin Islands,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,8,1 to 5,No,...,1.83,99.79,29.84,Yes,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,No
246015,Virgin Islands,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7,1 to 5,No,...,1.65,77.11,28.29,Yes,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,No
246017,Virgin Islands,Male,Very good,0.0,0.0,Within past 2 years (1 year but less than 2 ye...,Yes,6,None of them,No,...,1.78,102.06,32.28,Yes,No,No,No,"Yes, received tetanus shot but not sure what type",No,No
246019,Virgin Islands,Male,Good,0.0,15.0,Within past year (anytime less than 12 months ...,Yes,7,1 to 5,No,...,1.68,83.91,29.86,Yes,Yes,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,Yes

# IV. **Data Preprocessing**
***
For some of the variables, pre-processing was implemented in order to make the representation of the values easier to read and analyze.

"HadHeartAttack" variable will be changed to "HadHeartDisease" to be easily understood.

In [34]:
# Change HadHeartAttack to HadHeartDisease
df.rename(columns = {'HadHeartAttack':'HadHeartDisease'}, inplace = True)

A separate dataframe is made which only includes the 8 aforementioned variables that will be utilized in the study.

In [35]:
heart_df = df[["GeneralHealth", "AgeCategory", "HadHeartDisease", "BMI", "AlcoholDrinkers", "SmokerStatus", "SleepHours", "PhysicalActivities"]]
heart_df

,GeneralHealth,AgeCategory,HadHeartDisease,BMI,AlcoholDrinkers,SmokerStatus,SleepHours,PhysicalActivities
0,Very good,Age 65 to 69,No,27.99,No,Former smoker,9,Yes
1,Very good,Age 70 to 74,No,30.13,No,Former smoker,6,Yes
2,Very good,Age 75 to 79,No,31.66,Yes,Former smoker,8,No
3,Fair,Age 80 or older,No,31.32,No,Never smoked,9,Yes
4,Good,Age 80 or older,No,33.07,No,Never smoked,5,Yes
...,...,...,...,...,...,...,...,...
246017,Very good,Age 60 to 64,No,32.28,Yes,Never smoked,6,Yes
246018,Fair,Age 25 to 29,No,24.34,No,Never smoked,7,Yes
246019,Good,Age 65 to 69,No,29.86,Yes,Never smoked,7,Yes
246020,Excellent,Age 50 to 54,No,28.66,No,Never smoked,7,Yes
246021,Very good,Age 70 to 74,Yes,32.55,No,Never smoked,5,No

For the BMI variable, binning was used to separate certain numerical values into BMI-specific labels.

In [36]:
heart_df['BMI'] = pd.cut(heart_df.BMI, bins=[0, 18.4, 24.9, 29.9, 34.9, 39.9, 49.9, 100],
                        labels=['Underweight', 'Normal', 'Overweight', 'Obese', 'Severely Obese', 'Morbidly Obese', 'Super Obese'])
heart_df

,GeneralHealth,AgeCategory,HadHeartDisease,BMI,AlcoholDrinkers,SmokerStatus,SleepHours,PhysicalActivities
0,Very good,Age 65 to 69,No,Overweight,No,Former smoker,9,Yes
1,Very good,Age 70 to 74,No,Obese,No,Former smoker,6,Yes
2,Very good,Age 75 to 79,No,Obese,Yes,Former smoker,8,No
3,Fair,Age 80 or older,No,Obese,No,Never smoked,9,Yes
4,Good,Age 80 or older,No,Obese,No,Never smoked,5,Yes
...,...,...,...,...,...,...,...,...
246017,Very good,Age 60 to 64,No,Obese,Yes,Never smoked,6,Yes
246018,Fair,Age 25 to 29,No,Normal,No,Never smoked,7,Yes
246019,Good,Age 65 to 69,No,Overweight,Yes,Never smoked,7,Yes
246020,Excellent,Age 50 to 54,No,Overweight,No,Never smoked,7,Yes
246021,Very good,Age 70 to 74,Yes,Obese,No,Never smoked,5,No

For the AgeCategory variable, the age groups were converted to age estimates in order to allow the datatype conversion from category to integer.

In [37]:
heart_df['AgeCategory'] = heart_df['AgeCategory'].str[4:6]
heart_df.rename(columns = {'AgeCategory':'Age'}, inplace = True)

The data type of the AgeCategory will be changed to integer.

In [38]:
heart_df['Age'] = heart_df['Age'].astype(int)
heart_df

,GeneralHealth,Age,HadHeartDisease,BMI,AlcoholDrinkers,SmokerStatus,SleepHours,PhysicalActivities
0,Very good,65,No,Overweight,No,Former smoker,9,Yes
1,Very good,70,No,Obese,No,Former smoker,6,Yes
2,Very good,75,No,Obese,Yes,Former smoker,8,No
3,Fair,80,No,Obese,No,Never smoked,9,Yes
4,Good,80,No,Obese,No,Never smoked,5,Yes
...,...,...,...,...,...,...,...,...
246017,Very good,60,No,Obese,Yes,Never smoked,6,Yes
246018,Fair,25,No,Normal,No,Never smoked,7,Yes
246019,Good,65,No,Overweight,Yes,Never smoked,7,Yes
246020,Excellent,50,No,Overweight,No,Never smoked,7,Yes
246021,Very good,70,Yes,Obese,No,Never smoked,5,No

In [39]:
heart_df.BMI.value_counts().to_frame().style.background_gradient(cmap='winter')

Check again the content of the current dataframe

In [40]:
describe_df(heart_df)

--------------------------------------------------------------
Column: GeneralHealth (object)

Column Value Counts:
GeneralHealth
Very good    86999
Good         77409
Excellent    41525
Fair         30659
Poor          9430
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: Age (int32)

Column Value Counts:
Age
65    28557
60    26720
70    25739
55    22224
50    19913
75    18136
80    17816
40    16973
45    16753
35    15614
30    13346
18    13122
25    11109
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: HadHeartDisease (object)

Column Value Counts:
HadHeartDisease
No     232587
Yes     13435
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: BMI (category)

Column Value Counts:
BMI
Overweight        87551
Normal            69045
Obese             49840
Severely Obese    21535
Morbidly Obese    12277
Underweight        3515
Super Obese        2259
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: AlcoholDrinkers (object)

Column Value Counts:
AlcoholDrinkers
Yes    135307
No     110715
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: SmokerStatus (object)

Column Value Counts:
SmokerStatus
Never smoked                             147737
Former smoker                             68527
Current smoker - now smokes every day     21659
Current smoker - now smokes some days      8099
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: SleepHours (int32)

Column Value Counts:
SleepHours
7     76447
8     69927
6     53981
5     16417
9     11859
4      6478
10     5468
3      1618
12     1476
2       740
1       563
11      339
16      155
15      154
14      148
18       83
13       79
20       50
24       13
17       11
23        6
19        5
22        5
Name: count, dtype: int64
--------------------------------------------------------------


--------------------------------------------------------------
Column: PhysicalActivities (object)

Column Value Counts:
PhysicalActivities
Yes    191318
No      54704
Name: count, dtype: int64
--------------------------------------------------------------

# V. **Exploratory Data Analysis**
***

// **insert desc of the aim of this analysis

### Visualize the Data

In [41]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GeneralHealth       246022 non-null  object
 1   Age                 246022 non-null  int32
 2   HadHeartDisease     246022 non-null  object
 3   BMI                 246022 non-null  category
 4   AlcoholDrinkers     246022 non-null  object
 5   SmokerStatus        246022 non-null  object
 6   SleepHours          246022 non-null  int32
 7   PhysicalActivities  246022 non-null  object
dtypes: category(1), int32(2), object(5)
memory usage: 11.5+ MB

In [48]:
display(heart_df['GeneralHealth'])

0         Very good
1         Very good
2         Very good
3              Fair
4              Good
            ...
246017    Very good
246018         Fair
246019         Good
246020    Excellent
246021    Very good
Name: GeneralHealth, Length: 246022, dtype: object

## What is the distribution of

# VI. **Research Question**
***
Given the exploratory data analysis performed with the chosen variables,